:root {
  --navy-blue: #102D49;
}

* {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    position: sticky;
    top: 20px;
}

#meeting-name {
    background-color: var(--navy-blue, darkblue);
    color: white;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

#meeting-type {
    padding: 10px 20px 10px 20px;
}

.table-of-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    background-color: rgb(27, 81, 133);
    color: color(display-p3 0.9184 0.9553 0.9955);
}

h3 {
    background-color: hsl(37, 100%, 76.5%);
    font-size: 1.5rem;
}

#giraffe {
    border-style: groove;
    border-color: #B3DAFF;
    border-width: 20px;
    border-radius: 25%;
    height: 25%;
    width: fit-content;
    max-width: max-content;
    min-width: 100px;
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

#giraffe:hover {
    border-color: transparent;
}

#hide-me {
    display: none;
    margin: auto;
}

video, audio {
    border: 1.2rem solid lightblue;
    margin: 10px 20px 10px 20px; /* top right bottom left */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
}

.members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

@media (width <= 1450px) {
    
}

span.members {
    background-color: aliceblue;
}

ul li { /* descendant combinator */
    padding: 10px;
}

details > summary { /* child combinator */
    text-decoration: pink wavy underline;
}

fieldset ~ div { /* general sibling combinator */
    margin: 20px;
}

video + audio { /* adjacent sibling combinator */
    /*background-color: solid gray 1.5rem;*/
}

.form-buttons {
    background-color: color-mix(in oklab, gray 20%, white 80%);
}

.form-buttons:active {
    background-color: color-mix(in oklab, gray 80%, white 20%);
}

.choice {
    padding-left: 0;
    padding-right: 0;
}

footer {
    margin-top: 20px;
}

div > textarea {
    margin-left: 1.5rem;
}